 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p class="text-center">Joy Learning Centre adalah tempat bermain, belajar, dan bertumbuh</p>
                    <p class="text-center">Mari bersama kita mendidik anak-anak kita</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline page-scroll">
                        <i class="fa fa-contact"></i> Hubungi Kami
                    </a>
                </div>
            </div>
        </div>
    </section>